.composition {
  margin-top: 60px;
  background-image: url(../images/bg_composition.png);
  background-size: cover;
  padding-bottom: 1px;
  @include mobile(){
    display: none;
  }
}

.composition_title {
  h3 {
    padding: 22px 50px;
    background-color: black;
    display: inline-block;
    color: white;
    font-weight: 600;
    font-size: 45px;
    margin-top: 90px;
    border-radius: 100px;

    span {
      color: red;
    }
  }
}

.composition_image {
  transform: scale(1.4);
}

.composition_items {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.composition_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 325px;
  background: linear-gradient(#ff0000b8, transparent);
  border-radius: 10px;
  gap: 30px;
  box-shadow: 5px 5px 10px black;
  padding: 20px;
  p {
    padding: 7px 20px;
    color: white;
    font-size: 29px;
    font-weight: 700;
    background-color: #6c6c6c;
    border-radius: 100px;
  }
}

.composition_info {
  margin-top: 60px;
  padding: 55px;
  background: linear-gradient(#d9d9d9, transparent);
  border-radius: 100px;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 200px;

  p{
    margin-top: 100px;
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}

.item_title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 35px;
  color: #ff0000;
}

.item_info {
  font-weight: 700;
  font-size: 35px;
}

.item_title:nth-child(n + 2) {
  margin-top: 50px;
}
