.product {
  // padding-top: 400px;
  @include media(0px, 1024px) {
    display: none;
  }
}

.product_wrapper {
  background: rgb(0, 33, 50);
  padding: 20px;
}

.product_title {
  display: flex;
  justify-content: flex-end;
  h3 {
    color: rgb(255, 255, 255);
    font-size: 44px;
    font-weight: 700;
    text-align: left;
  }
}

.product_items {
  display: flex;
  justify-content: space-between;
}

.product_image {
  width: 400px;
  img {
    width: 500px;
    object-fit: cover;
    object-position: center;
    transform: translateX(-100px);
    height: 400px;
  }
}

.product_info {
  p {
    margin-top: 50px;
    max-width: 821px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: 146.3%;
    text-align: left;
    text-transform: uppercase;
  }
}

//?------------------working----------------
.working_title {
  margin: 134px 0 158px;
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-weight: 700;
  line-height: 106.3%;
  text-align: center;
  background: #000;
  padding: 20px;
  border-radius: 400px;
}

.working_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 235px;
}

.working_card {
  padding: 30px 22px;
  max-width: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 10px 15px 9px 0px rgba(0, 0, 0, 0.5);
  background: rgb(255, 255, 255);
  img {
    margin-bottom: 19px;
  }
  p {
    color: rgb(51, 27, 59);
    font-size: 24px;
    font-weight: 700;
    line-height: 137.3%;
    text-align: center;
    text-transform: uppercase;
  }
}
